.hidden{
  display: none;
}

.button-place{
  flex-direction: column;
  gap: 15rem;
}

.page > .row {
  min-width: auto;
}

.page > .row > .col{
  padding: 0;
}

.padding-right-row{
  padding-left: 8rem !important;
}

.padding-left-row{
  padding-right: 8rem !important;
}

a:focus{
  border-style: dotted;
  border-color: var(--primary);
  border-width: 0.5px;
}

#start{
  padding-bottom: 15vh;
}

#hiddenSuperImportantInputfieldContainer{
  position: absolute;
  z-index: -1;
}

.no-margin-top{
  margin-top: 0 !important;
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

.margin-top{
  margin-top: 4rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

.margin-right{
  margin-right: 24rem !important;
}

.m .tabs .left-align{
  overflow-y: hidden;
  overflow-x: scroll;
}

.suffix > .joker.active::after{
  content: "stars"
}

.flex{
  display: flex;
}

/*summary:focus{
  background-color: #4fd8eb !important;
  color: #00363d !important;
}*/

.checkbox {
  white-space: break-spaces;
}

td > .checkbox > input {
  width: auto;
}

.no-padding{
  padding: none !important;
}

#checklistButton{
  margin-bottom: 6rem;
}

#dataLink{
  word-break: break-all;
}

#calculator > form{
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.card.border.round.transparent{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

#semesterIV{
  overflow-y: auto;
}

#cookieBanner{
  visibility: hidden;
  position: fixed;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 95%;
  max-width: 95%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.print{
  display: none;
}

/*CSS-Styles für Druck*/
@media print {

  .print{
    display: inline;
  }

  body>*:not(.print) {
    display: none !important;
    opacity: 0 !important;
  }
  input{
    opacity: 1 !important;
    visibility: visible !important;
  }

  td > p > b {
        vertical-align: baseline;
  }

  p > .joker.active::after{
    content: "stars"
  }

  .bad-value::after{
    content: " ↯";
  }

}
